*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
nav{
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    display: flex; align-items: center;
    padding: 20px;
}
.nav-icon{
    width: 50%;
}
.nav-li{
    width: 50%;
}
.nav-li {
    display: flex;
    align-items: center;
    
}
.nav-li > li{
    list-style: none;
    margin-left: 20px;
}
.nav-li > li > a{
    text-decoration: none;
    display: flex;
    color: #2D2F30;
}
#nav-vector{
    margin-left: 110px;
}

/* hero style */
.hero-text{
    width: 50%;

}
.hero-img{
    width: 50%;

}
.hero-img > img{
    height: 800px;
}
.hero-title{
    font-size: 60px;
    font-weight: bold;
    color: #094B72;
}
.hero{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.hero-sec{
    background-color: #F9F8F9;
}
.hero-des{
    font-size: 16px;
    font-weight: 500;
    color: #4F4F4F;
    margin-top: 10px;
    margin-bottom: 10px;
}
.hero-btn{
    font-size: 13px;
    font-weight: 300;
    background-color: #094B72;
    color: white;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 18px; 
    border: none;
    outline: none;
    border-radius: 5px;
}
.hero-seond-des{
    color: #8B8C8C;
    font-size: 15px;
    font-weight: 400;
    margin-top: 100px;
}

/*lega section style*/
.lega{
    background-color: #F2FCFF;
   
}
.lega-main-sec{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
}
.lega-text{
    margin-top: 90px;
}
.lega-text > h1{
    font-size: 30px;
    font-weight: bold;
}
.lega-img